.tiles-view {
    padding: 10px;
}

.action-container {
    max-width: 20% !important;
    a {
        text-decoration: none;
    }

    .action-items {
        text-align: center;

        img {
            width: 50%;
        }

        .action-name {
            font-weight: 700;
            font-size: 16px;
            white-space: nowrap;
        }
    }
}

.p-grid {
    .ui-inputgroup {
        align-items: center;
    }
}
.header-container{
    padding-top: 10px;
    .sub-container-1{
        padding-top: 5px;
        padding-left: 0px !important;
    }
    .service-header{
        font-size: 16px;
        margin-left: 8px;
    }
}
.input-wid{
    width:316px;
}
